<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
      <table>
        <thead>
          <tr>
            <th>Method</th>
            <th>URL</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <% for (const item of table) { %>
            <tr>
              <td><%= item.method %></td>
              <td><%= item.url %></td>
              <td><%= item.status %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
</body>
</html>